@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

.bg-1{
  background-image: url(../image/pexels-mikhail-nilov-7594479.webp);
  background-position: center;
  background-size: contain;
object-position: center;
object-fit: cover;

}